@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24 33.3333% 97.0588%;
  --foreground: 0 0% 10.1961%;
  --card: 24 33.3333% 97.0588%;
  --card-foreground: 0 0% 10.1961%;
  --popover: 24 33.3333% 97.0588%;
  --popover-foreground: 0 0% 10.1961%;
  --primary: 0 55.7789% 39.0196%;
  --primary-foreground: 0 0% 100%;
  --secondary: 43.0769 90.6977% 91.5686%;
  --secondary-foreground: 39.8438 100% 25.0980%;
  --muted: 22.5000 21.0526% 92.5490%;
  --muted-foreground: 33.3333 5.4545% 32.3529%;
  --accent: 48.0000 96.4912% 88.8235%;
  --accent-foreground: 0 62.8205% 30.5882%;
  --destructive: 0 70% 35.2941%;
  --destructive-foreground: 0 0% 100%;
  --border: 37.7143 63.6364% 89.2157%;
  --input: 37.7143 63.6364% 89.2157%;
  --ring: 0 55.7789% 39.0196%;
  --chart-1: 0 73.7089% 41.7647%;
  --chart-2: 0 55.7789% 39.0196%;
  --chart-3: 0 62.8205% 30.5882%;
  --chart-4: 25.9649 90.4762% 37.0588%;
  --chart-5: 22.7273 82.5000% 31.3725%;
  --sidebar: 22.5000 21.0526% 92.5490%;
  --sidebar-foreground: 0 0% 10.1961%;
  --sidebar-primary: 0 55.7789% 39.0196%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 48.0000 96.4912% 88.8235%;
  --sidebar-accent-foreground: 0 62.8205% 30.5882%;
  --sidebar-border: 37.7143 63.6364% 89.2157%;
  --sidebar-ring: 0 55.7789% 39.0196%;
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.975rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 16px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(0 63% 18%);
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 2px 4px -3px hsl(0 63% 18% / 0.12);
  --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 4px 6px -3px hsl(0 63% 18% / 0.12);
  --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 8px 10px -3px hsl(0 63% 18% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 24 9.8039% 10%;
  --foreground: 60 4.7619% 95.8824%;
  --card: 12.0000 6.4935% 15.0980%;
  --card-foreground: 60 4.7619% 95.8824%;
  --popover: 12.0000 6.4935% 15.0980%;
  --popover-foreground: 60 4.7619% 95.8824%;
  --primary: 0 73.7089% 41.7647%;
  --primary-foreground: 24 33.3333% 97.0588%;
  --secondary: 22.7273 82.5000% 31.3725%;
  --secondary-foreground: 48.0000 96.4912% 88.8235%;
  --muted: 24 8.7719% 11.1765%;
  --muted-foreground: 24.0000 5.7471% 82.9412%;
  --accent: 25.9649 90.4762% 37.0588%;
  --accent-foreground: 48.0000 96.4912% 88.8235%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 30 6.2500% 25.0980%;
  --input: 30 6.2500% 25.0980%;
  --ring: 0 73.7089% 41.7647%;
  --chart-1: 0 90.6040% 70.7843%;
  --chart-2: 0 84.2365% 60.1961%;
  --chart-3: 0 72.2222% 50.5882%;
  --chart-4: 43.2558 96.4126% 56.2745%;
  --chart-5: 37.6923 92.1260% 50.1961%;
  --sidebar: 24 9.8039% 10%;
  --sidebar-foreground: 60 4.7619% 95.8824%;
  --sidebar-primary: 0 73.7089% 41.7647%;
  --sidebar-primary-foreground: 24 33.3333% 97.0588%;
  --sidebar-accent: 25.9649 90.4762% 37.0588%;
  --sidebar-accent-foreground: 48.0000 96.4912% 88.8235%;
  --sidebar-border: 30 6.2500% 25.0980%;
  --sidebar-ring: 0 73.7089% 41.7647%;
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.975rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 16px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(0 63% 18%);
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 2px 4px -3px hsl(0 63% 18% / 0.12);
  --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 4px 6px -3px hsl(0 63% 18% / 0.12);
  --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 8px 10px -3px hsl(0 63% 18% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.30);
}